@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* bg-slate-50 é um branco suave, bg-slate-950 é um azul marinho super escuro perfeito para dark mode */
    @apply antialiased text-slate-900 bg-slate-50 dark:bg-slate-950 dark:text-slate-50 selection:bg-blue-500/30;
  }
  
  /* Evita o zoom automático (muito comum no iOS) ao clicar em inputs/textareas/selects */
  @media screen and (max-width: 768px) {
    input, select, textarea {
      font-size: 16px !important;
    }
  }


/* Estilização suave da barra de rolagem global para combinar com o design */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-200 dark:bg-slate-800 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-300 dark:bg-slate-700;
  }
}