@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-slate-900 bg-slate-50 dark:bg-[#09090b] dark:text-slate-50 selection:bg-indigo-500/30;
  }
}
